
@font-face {
    font-family: 'DM Sans';
    src: url("../fonts/DM_Sans/DMSans-Italic.ttf");
}


.main-image {
    position: relative;
    width: 650px;
    height: 873px;
    flex-shrink: 0;
    border-radius: 12px;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0px;
    gap: 60px;
    width: 530px;
    height: 610.578px;
    }
}

.main-title {
    font-size: 70px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400px;
    line-height: 88px; /* 125.714% */
    letter-spacing: 3.2px;
    color: #FFF;
}

.social-info {
    width: 289px;
    height: 72px;
    flex-shrink: 0;
}

.name-info {
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    width: 66px;
    padding: 10px;
    margin: 10px;
}

@media screen and (min-width: 320px) and (max-width: 2560px) { body { background-color: #00060a;}
    .container {
    display: grid;
    max-width: 1400px;
    max-height: 913px;
    flex-shrink: 0;
    grid-template-columns: 50% 50%;
}