@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-Italic.ttf");
}

body {
  background-color: #191919;
  font-family: "DM Sans", sans-serif;
}

.main-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 50px 160px;
}

.container_block1 {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.main-image {
  width: 100%;
  max-width: 530px;
  max-height: 610.578px;
  border-radius: 12px;
  object-fit: cover;
  
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 53px;
  padding: 40px;
  
}

.main-title {
  font-size: 70px;
  font-style: normal;
  font-weight: 400px;
  line-height: 88px; /* 125.714% */
  letter-spacing: 3.2px;
  color: #fff;
}

.social-info {
  width: 289px;
  height: 72px;
}

.name-info {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  width: 66px;
  padding: 10px;
  margin: 10px;
}

/* Общие стили */
.button {
  color: #fff;
  border-radius: 6px;
  border: none;
  background-color: #118da8;
}

/* Стили Latest episodes */
.episodes {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 50px 160px;
}

.episodes-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.episodes-header__title {
  margin: 0;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.episodes-header__button {
  padding: 12px 15px 12px 20px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.episodes-cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.episodes-card {
  display: flex;
  align-items: center;
  gap: 53px;
  padding: 40px;
  color: #fff;
  background-color: #000;
  border-radius: 32px;
}

.episodes-card__image {
  width: 100%;
  max-width: 389px;
  object-fit: cover;
  overflow: hidden;
}
.episodes-card__image img {
  width: 100%;
}

.episodes-text__label {
  padding: 0 16px;
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  border-radius: 6px;
  background: #191919;
}

.episodes-text__subtitle {
  margin-bottom: 18px;
  color: #118da8;
  font-size: 17px;
  font-weight: 400;
}

.episodes-text__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 64px;
  font-weight: 400;
  line-height: 70.4px;
}

.episodes-text__description {
  margin: 0;
  margin-bottom: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  font-weight: 400;
}

.episodes-text__button {
  max-width: 210px;
  padding: 12px 15px 12px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.container-card {
  background-color: #191919;
  width: 1400px;
  height: 901px;
}

.col {
  width: 400px;
  height: 321px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #000;
  margin: 10px;
}

.card {
  gap: 10px;
  border: 0;
}

.card-img-top {
  width: 18px;
  height: 17px;
  flex-shrink: 0;
  background: #000;
}
.image_body {
  background: #000;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000;
  padding: 40px;
}

.card-title {
  width: 313px;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px; /* 120% */
  background: #000;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 142px;
  color: white;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 125.217% */
}

